<div class="container">
  <h1>Stupid Coach</h1>

  <div class="question row col-6">
    <p><%= @question %></p>
    <p>-You</p>
  </div>
  <div class="answer row col-6">
    <p class='bold'><%= @answer %></p>
    <p>-Your coach</p>
  </div>
</div>
