<div class="container">
  <h1>Stupid Coach</h1>
  <form action="/answer" class="question-form" method="post">
    <!-- <div class="row col-xl-12"> -->
      <div>
        <input type="text" name="question" class='form-control'>
      </div>
      <div>
        <input type="submit" value="Ask!">
      </div>
    <!-- </div> -->
  </form>
</div>

